body {
  font-family: 'IranYekan', sans-serif;
  font-feature-settings:
    'lnum' 1,
    'tnum' 1; /* Use lining and tabular numerals */
}

@theme {
  --color-primary: #a16ea4;
  --color-accent: #82b1ff;
  --color-error: #dc3545;
  --color-info: #17a2b8;
  --color-success: #28a745;
  --color-warning: #d39e00;
  --color-anchor: #007185;
  --color-background: #f5f5f5;
  --font-display: 'IranYekan', 'sans-serif';
}

@font-face {
  font-family: 'IranYekan';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src: url('@/assets/fonts/iranyekanFaNum/Thin.woff2') format('woff2');
}

@font-face {
  font-family: 'IranYekan';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url('@/assets/fonts/iranyekanFaNum/Light.woff2') format('woff2');
}

@font-face {
  font-family: 'IranYekan';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('@/assets/fonts/iranyekanFaNum/Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'IranYekan';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url('@/assets/fonts/iranyekanFaNum/Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'IranYekan';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('@/assets/fonts/iranyekanFaNum/Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'IranYekan';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url('@/assets/fonts/iranyekanFaNum/ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: 'IranYekan';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: url('@/assets/fonts/iranyekanFaNum/Black.woff2') format('woff2');
}

body {
  font-family: 'IranYekan', sans-serif;
  font-feature-settings:
    'lnum' 1,
    'tnum' 1; /* Use lining and tabular numerals */
}

@theme {
  --font-display: 'IranYekan', sans-serif;
}
